
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.form>button{
    width: 100%;
    height:30px;
}


.first-nav a{
    text-decoration: none;
    color: black;
}

.form>button{
    background-color: white;
    height: 100%;
    border: none;
}

.first-nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    height: 30px;
    background-color: #eeeeee;
    gap: 270px;
    width: 100%;
}

.address{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid green; */
    width:30%;
    align-items: center;
    font-weight: bold;
}

.form{
    /* display: flex;
    justify-content: flex-end; */
    /* border: 2px solid; */
    width: 6%;
    height: auto;
}

/* ///////////////////////////////////// */

/* navbar started */


ul a:hover{
    text-decoration: underline #8dc63f 2px;
}

nav{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #808080;
    box-shadow: 0 2px 2px 0 #0000001a;
    position: sticky;
    top: 0;
}


.logo>img{
    width: 200px;
}
.logo{
    /* border: 1px solid black; */
    /* height: 50px; */
}

.list{
    /* border: 1px solid black; */
    height:70px;

}

.list>ul{
    list-style: none;
    display: flex;
    /* border: 1px solid red; */
    gap: 15px;
    height: 70px;
    align-items: center;
}

ul a{
    text-decoration: none;
    color: #000000;
}


.menu-lines{
    width: 50px;
    display: none;
}

.donate,.sponser{
    /* border: 1px solid blue; */
    padding: 10px;
    transition: transform 0.2s;
    background-color: #0d6db7;
    a{
        color: #ffffff;
    }
    border-radius: 5px;

}
.sponser{
  background-color: #8dc63f;
}

.donate:hover{
    transform: scale(1.2,1.2);
}

.sponser:hover{
    transform: scale(1.2,1.2);

}

.donate>a{
    text-decoration: none !important;
}


/* navbar ended */





/* /////////////////////////////////////// */

/* body started */

h1{
    /* border: 1px solid red; */
    width:60%;
    font-weight:600;
}

h2{
   font-size: 22px;
}


h1>span{
    color: #8dc63f;
}



h2>span{
    color: #0d6db7;
}


.second>img{
    width: 500px;
}

.hero{
    width: 80%;
}

.fist{
    width: 80%;
}

.button{
    width: 38%;
    height: 10%;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

.button>a{
    text-decoration: none;
    color: #000000;
}




/* body ended */



/* //////////////////////////////////////// */


/* media queries started */

@media only screen and (max-width:600px) {
    .list{
        display: none;
    }

    .menu-lines{
        display: block;
        border: 1px solid #808080;
    }

    nav{
        gap: 170px;
        height: 76px;
    }


    .first-nav{
        justify-content:space-around;
        height:50px ;
    }

    .address{
        width: 60%;
    }

    .first-nav{
        width: auto;
        gap: 0;
    }

    .form{
        width: 15%;
        margin-bottom: 3px;
    }
    

    
    
}



/* media queries ended */
